<div class="row">
  <h2 class="col">会員情報編集</h2>
  <div class="col-3 mt-3">
    <%= link_to "退会する", quit_customers_path, class: "btn btn-sm btn-outline-danger" %>
  </div>
</div>

<%= form_with model: @customer, url: customer_path, local:true do |f| %>
  <div class="form-row form-group pt-3">
    <div class="col-sm-3"><%= f.label :氏名 %></div>
    <div class="col-sm-4"><%= f.text_field :last_name, autofocus: true, class: "form-control" %></div>
    <div class="col-sm-4"><%= f.text_field :first_name, autofocus: true, class: "form-control" %></div>
  </div>

  <div class="form-row form-group">
    <div class="col-sm-3"><%= f.label :フリガナ %></div>
    <div class="col-sm-4"><%= f.text_field :last_name_kana, autofocus: true, class: "form-control" %></div>
    <div class="col-sm-4"><%= f.text_field :first_name_kana, autofocus: true, class: "form-control" %></div>
  </div>

  <div class="form-row form-group">
    <div class="col-sm-3"><%= f.label :郵便番号 %></div>
    <div class="col-sm-4"><%= f.text_field :postal_code, placeholder: "〒1110000 (ハイフンなし)", class: "form-control" %></div>
  </div>

  <div class="form-row form-group">
    <div class="col-sm-3"><%= f.label :住所 %></div>
    <div class="col-sm-8"><%= f.text_area :address, autofocus: true, class: "form-control" %></div>
  </div>

  <div class="form-row form-group">
    <div class="col-sm-3"><%= f.label :電話番号 %></div>
    <div class="col-sm-8"><%= f.text_field :telephone_number, placeholder: "ハイフンなし", class: "form-control" %></div>
  </div>

  <div class="form-row form-group">
    <div class="col-sm-3"><%= f.label :メールアドレス %></div>
    <div class="col-sm-8"><%= f.email_field :email, autofocus: true, class: "form-control" %></div>
  </div>

  <div class="form-row text-center pt-4">
    <div class="col mb-5">
      <%= f.submit "変更を保存", class: "btn btn-success w-50" %>
    </div>
  </div>
<% end %>