<h2 class="mb-5">マイページ</h2>
<%# TODO(ログアウトができない問題の解決) %>
<div class="row">
  <h5 class="font-weight-bold col-9 m-0 align-self-center">登録情報</h5>
</div>

<table class="table table-light shadow col-md-8 mt-3">
  <thead>
    <tr>
      <th class="bg-black">氏名</th>
      <td class="bg-white"><%= @customer.last_name + @customer.first_name %></td>
    </tr>

    <tr>
      <th class="bg-black">カナ</th>
      <td class="bg-white"><%= @customer.last_name_kana + @customer.first_name_kana %></td>
    </tr>

    <tr>
      <th class="bg-black">郵便番号</th>
      <td class="bg-white"><%= @customer.postal_code %></td>
    </tr>

    <tr>
      <th class="bg-black">住所</th>
      <td class="bg-white"><%= @customer.address %></td>
    </tr>

    <tr>
      <th class="bg-black">電話番号</th>
      <td class="bg-white"><%= @customer.telephone_number %></td>
    </tr>
    
    <tr>
      <th class="">メールアドレス</th>
      <td class="bg-white"><%= @customer.email %></td>
    </tr>
  </thead>
</table>

<div class="row">
  <div class="col-5">
    <%= link_to "編集する", edit_customer_path(current_customer.id), class: "btn btn-sm btn-success mb-5" %>
  </div>
</div>
<div class="row pt-3">
  <h5 class="font-weight-bold col-3 align-self-center">配送先</h5>
  <div class="col-5"><%= link_to "一覧を見る", @addresses_path, class: "btn btn-sm btn-primary" %></div>
</div>

<div class="row pt-3">
  <h5 class="font-weight-bold col-3 align-self-center">注文履歴</h5>
  <div class="col-5"><%= link_to "一覧を見る", orders_path, class: "btn btn-sm btn-primary" %></div>
</div>