<div class="container">
  <div class="row">
    <h2 class="col-9">商品一覧</h2>
    <div class="col-3">
      <%= link_to "商品を追加する", new_admin_item_path, class: "shadow-sm btn btn-secondary" %>
    </div>
  </div>
 

   <div class="row mt-3">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜き価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id), class: "text-dark" %></td>
            <td><%= item.subtotal %></td>
            <td><%= item.genre.name %></td>
            <% if item.is_active? %>
              <td class="text-success">販売中</td>
            <% else %>
              <td class="text-secondary">販売停止中</td>
            <% end %>
          </tr> 
        <% end %>
      </tbody>
    </table>
  </div>
</div>