<h2>商品詳細</h2>
<div class="row">
  <span class="border mb-4"></span>
</div>
<div class="container text-center">
  <div class="col text-center">
    <%= attachment_image_tag @item, :image, :fill, 400, 400, fallback: "NO_IMG.png", class: "rounded" %>
    <div class="text-center mt-3">
    <div class="row">
      <h4 class="col"><%= @item.name %></h4>
    </div>

    <div class="row mt-3">
      <div class="col"><%= @item.detail %></div>
    </div>

    <div class="row mt-3">
      <div class="col"><%= @item.genre %></div>
    </div>

    <div class="row mt-3">
      <div class="col">
        ¥ <%= @item.with_tax_price %><br>
        ¥ <%= @item.price %> (税抜き)
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <% if @item.is_active? %>
          <div class="text-success">販売中</div>
        <% else %>
          <div class="text-secondary">販売停止中</div>
        <% end %>
      </div>
    </div>

    <div class="text-center mt-4">
      <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success w-50" %>
    </div>
  </div>
</div>