<h2 class="mb-5">管理者ログイン</h2>

<%= form_with model: @admin, url: admin_session_path, local:true do |f| %>
  <div class="field">
    <div class="col-md-2"><%= f.label :"メールアドレス" %></div>
    <div class="col-md-9"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
  </div>

  <div class="field">
    <div class="col-md-2"><%= f.label :"パスワード" %></div>
    <div class="col-md-9"><%= f.password_field :password, autocomplete: "current-password" %></div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <div class="offset-md-2"><%= f.submit "Log in", class: "btn btn-primary" %></div>
  </div>
<% end %>

<%= render "admins/shared/links" %>
