<p class="text-center", id="top-message">
  ようこそ、ながのCAKEへ!<br>
  このサイトは、ケーキ販売のECサイトになります。 <br>
  会員でない方も商品の閲覧はできますが、 <br>
  購入には会員登録が必要になります。
</p>

<h3 class="mt-5">新着商品</h3>

<div class="card-list-container pt-3 row">
  <% @items.each do |item| %>
    <div class="card mr-2 mt-4 shadow-lg">
      <%= link_to item_path(item) do %>
        <%= attachment_image_tag item, :image, :fill, 200, 150, class: "card-img-top py-2 px-2" %>
      <% end %>
      <div class="card-body">
        <div class="card-title"><%= item.name %></div>
        <div>¥ <%= item.with_tax_price %></div>
      </div>
    </div>
  <% end %>
</div>

<div class="text-light mt-5">
  <%= link_to "全ての商品を見る", items_path %>
</div>