<div class="text-center">
  <%= image_tag("NaganoCake-logos.jpeg", size: "100x115", class: "rounded-circle") %>
</div>

<p class="text-center", id="top-message">
  <br>
  ようこそ、ながのCAKEへ!<br>
  このサイトは、ケーキ販売のECサイトになります。 <br>
  会員でない方も商品の閲覧はできますが、 <br>
  購入には会員登録が必要になります。
</p>

<h3 class="mt-5">新着商品</h3>
<div class="row">
  <div class="col-10 ml-5">
    <% @items.each do |item| %>
      <div class="card mt-5 ml-5 shadow-lg">
        <%= link_to item_path(item.id) do %>
          <%= attachment_image_tag item, :image, :fill, 650, 600, class: "card-img-top py-3 px-2" %>
        <% end %>
        <div class="card-body">
          <div class="card-title"><%= item.name %></div>
          <h3>¥ <%= item.with_tax_price %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="text-light mt-5">
  <%= link_to "全ての商品を見る", items_path %>
</div>