<h2 class="offset-1"><%= @customer.full_name %>さんの会員情報編集</h2>

<div class="row ml-5 mt-3">
  <%= form_with model: @customer, url: admin_customer_path(@customer), local:true do |f| %>
    <div class="form-row form-group  row">
      <div class="col-4">会員ID</div>
      <div class="col-8"><%= @customer.id %></div>
    </div>

    <div class="form-row form-group row">
      <div class="col-4"><%= f.label :"名前" %></div>
      <div class="col-4"><%= f.text_field :last_name, class: "form-control" %></div>
      <div class="col-4"><%= f.text_field :first_name, class: "form-control" %></div>
    </div>

    <div class="form-row form-group row">
      <div class="col-4"><%= f.label :"フリガナ" %></div>
      <div class="col-4"><%= f.text_field :last_name_kana, class: "form-control" %></div>
      <div class="col-4"><%= f.text_field :first_name_kana, class: "form-control" %></div>
    </div>

    <div class="form-row form-group row">
      <div class="col-4"><%= f.label :"郵便番号", autofocus: true %></div>
      <div class="col-4"><%= f.text_field :postal_code, class: "form-control" %></div>
    </div>

    <div class="form-row form-group row">
      <div class="col-4"><%= f.label :"住所" %></div>
      <div class="col-8"><%= f.text_area :address, class: "form-control" %></div>
    </div>

    <div class="form-row form-group row">
      <div class="col-4"><%= f.label :"電話番号" %></div>
      <div class="col-8"><%= f.text_field :telephone_number, class: "form-control" %></div>
    </div>

    <div class="form-row form-group row">
      <div class="col-4"><%= f.label :"メールアドレス" %></div>
      <div class="col-8"><%= f.email_field :email, class: "form-control" %></div>
    </div>

    <div class="form-row form-group row">
      <div class="col-4"><%= f.label :"会員ステータス" %></div>
      <div class="col-8">
        <%= f.radio_button :is_deleted, false %>
        <%= f.label :"有効" %>
        <%= f.radio_button :is_deleted, true %>
        <%= f.label :"退会" %>
      </div>
    </div>

    <div class="text-center"><%= f.submit :"変更を保存", class: "btn btn-success mt-3 w-50" %></div>
  <% end %>
</div>