<h2 class="offset-1"><%= @customer.full_name %>さんの会員情報詳細</h2>

<div class="row ml-5 mt-3">
  <div class="row mt-3">
    <div class="col-4">会員ID</div>
    <div class="col-8"><%= @customer.id %></div>
  </div>

  <div class="row mt-3">
    <div class="col-4">氏名</div>
    <div class="col-8"><%= @customer.full_name %></div>
  </div>

  <div class="row mt-3">
    <div class="col-4">フリガナ</div>
    <div class="col-8"><%= @customer.full_name_kana %></div>
  </div>

  <div class="row mt-3">
    <div class="col-4">郵便番号</div>
    <div class="col-8"><%= @customer.postal_code %></div>
  </div>

  <div class="row mt-3">
    <div class="col-4">住所</div>
    <div class="col-8"><%= @customer.address %></div>
  </div>

  <div class="row mt-3">
    <div class="col-4">電話番号</div>
    <div class="col-8"><%= @customer.telephone_number %></div>
  </div>

  <div class="row mt-3">
    <div class="col-4">メールアドレス</div>
    <div class="col-8"><%= @customer.email %></div>
  </div>

  <div class="row mt-3">
    <div class="col-4">会員ステータス</div>
    <div class="col-8">
      <% if @customer.is_deleted? %>
        <div class="text-secondary">退会</div>
      <% else %>
        <div class="text-success">有効</div>
      <% end %>
    </div>
  </div>

  <div class="text-center mt-3">
    <div class="col mt-3"><%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success w-50" %></div>
    <div class="col mt-3"><%= link_to "注文履歴一覧を見る", admin_orders_path(@customer.id), class: "btn btn-primary w-50" %></div>
  </div>
</div>