<h2>注文履歴一覧</h2>

<table class="table table-light table-striped mt-3 mb-5">
  <thead>
    <tr class="bg-black">
      <th></th>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th class="text-center">注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <th>
          <td>
            <%= link_to admin_order_path(order.id) do %>
              <%= order.created_at.strftime('%Y/%m/%d') %>
            <% end %>
          </td>
          <td><%= order.customer.full_name %></td>
          <td><%= order.order_details.sum(:amount) %></td>
          <td class="text-center"><%= order.status_i18n %></td>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>