<h2 class="mb-4">注文履歴詳細</h2>

<table class="table table-borderless">
  <thead>
    <tr>
      <th>購入者</th>
      <td><%= @order.customer.full_name %></td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_at %></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td><%= @order.customer.full_address %></td>
    </tr>
    <tr>
      <th>支払い方法</th>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <th>注文ステータス</th>
        <%= form_with model: @order, admin_order_path(@order.id) local:true do |f| %>
          <%= f.collection_select :status, {selected: @order.status} %></td>
          <%= f.submit "更新", class: "btn btn-seccess ml-3" %>
        <% end %>
    </tr>
  </thead>

  <div class="row mt-5">
    <div class="col-md-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="col-md-3 d-flex align-item-end">
    <table class="table table-borderless">
      <thead>
        <tr>
          <td>商品合計</td>
          <td><%= @order_items_total_price %></td>
        </tr>
        <tr>
          <td>送料</td>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <td>請求金額合計</td>
          <td><%= @order_items_total_price + @order.shipping_cost %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</table>