<h3>配送先編集</h3>

<%= form_with model: @address, local:true do |f| %>
  <div class="container col-10 mt-3">
    <div class="form-row mt-3">
      <div class="col-3"><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></div>
      <div class="col-4"><%= f.text_field :postal_code, class: "form-control" %></div>
      <div></div>
    </div>

    <div class="form-row mt-3">
      <div class="col-3"><%= f.label :address, "住所" %></div>
      <div class="col-8"><%= f.text_area :address, class: "form-control" %></div>
      <div></div>
    </div>

    <div class="form-row mt-3">
      <div class="col-3"><%= f.label :name, "宛名" %></div>
      <div class="col-4"><%= f.text_field :name, class: "form-control" %></div>
      <div></div>
    </div>
  </div>

  <div class="row">
    <div class="text-center mt-5 mb-5"><%= f.submit "変更内容を保存", class: "btn btn-success w-50"%></div>
  </div>
<% end %>