<h3>配送先登録・一覧</h3>

<%# 登録 %>
<%= form_with model: @address, local:true do |f| %>
  <div class="container col-10 mt-3">
    <div class="form-row mt-3">
      <div class="col-3"><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></div>
      <div class="col-4"><%= f.text_field :postal_code, autofocus: true, class: "form-control" %></div>
    </div>
    <div class="form-row mt-3">
      <div class="col-3"><%= f.label :address, "住所" %></div>
      <div class="col-8"><%= f.text_area :address, autofocus: true, class: "form-control" %></div>
    </div>
    <div class="form-row mt-3">
      <div class="col-3"><%= f.label :name, "宛名" %></div>
      <div class="col-4"><%= f.text_field :name, autofocus: true, class: "form-control" %></div>
    </div>
    <div class="mt-5 mb-5 text-center"><%= f.submit "新規登録", class: "btn btn-success w-50" %></div>
  </div>
<% end %>

<%# 一覧 %>
<table class="table table-light table-striped mt-5 mb-5 col-12">
  <thead class="table-active">
    <tr class="bg-dark">
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td class="text-center">
          <%= button_to "編集する", edit_address_path(address.id), class: "btn btn-success btn-sm mr-auto mb-1" %>
          <%= button_to "削除する", addresses_path(address.id), class: "btn btn-danger btn-sm mb-1" %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>