<div class="mb-5">
  <h2 class="mb-3">注文履歴一覧</h2>
  
  <table class="table table-light table-striped">
    <thead>
      <tr>
        <th class="table-active">注文日</th>
        <th class="table-active">配送先</th>
        <th class="table-active">注文商品</th>
        <th class="table-active">購入金額</th>
        <th class="table-active">ステータス</th>
        <th class="table-active">注文詳細</th>
        <th class="table-active"></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class="align-middle"><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td class="align-middle">
            <%= order.shipping_address %><br>
            <%= order.shipping_name %>
          </td>
          <td class="align-middle">
            <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %><br>
            <% end %>
          </td>
          <td class="align-middle"><%= order.amount_billed %>円</td>
          <td></td>
          <td class="align-middle"><%= link_to "表示する", order_path(order.id), class: "btn btn-outline-primary btn-sm" %></td>
          <td></td>
        </tr> 
      <% end %>
    </tbody>
  </table>
</div>


