<div class="col-md-10">
  <h2>注文履歴一覧</h2>
  
  <table class="tabel table-light table-borderless">
    <thead class="table-active">
      <tr class="bg-black">
        <th class="table-active" width="150">注文日</th>
        <th class="table-active" width="500">配送先</th>
        <th class="table-active" width="200">注文商品</th>
        <th class="table-active" width="150">支払い金額</th>
        <th class="table-active" width="150">ステータス</th>
        <th class="table-active" width="150">注文詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class="align-middle"><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td class="align-middle">
            〒 <%= order.zip_code %><br>
            <%= order.shipping_address %><br>
            <%= shipping_name %>
          </td>
          <td class="align-middle">
            <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %><br>
            <% end %>
          </td>
          <td class="align-middle"><%= order.total_price %>円</td>
          <td class="align-middle"><%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %></td>
        </tr> 
      <% end %>
    </tbody>
  </table>
</div>


