<div class="row">
  <h3>注文情報入力</h3>
</div>

<div class="container mt-3">
  <%= form_with model: @order, url: orders_path, method: :post, local:true do |f| %>
    <h5>支払い方法</h5>
    <div class="container ml-3">
      <div class="col">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
      </div>
      <div class="col">
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
      </div>
    </div>
    <h5 class="mt-3">お届け先</h5>
    <div class="container ml-3">
      <div class="col">
        <%= f.radio_button :select_address, 0, checked: true %>
        <%= f.label "ご自身の住所" %>
        <div class="col ml-2 shadow-sm">
          <%= current_customer.full_address %> <br>
          <%= current_customer.full_name %>
        </div>
      </div>

      <div class="col mt-3">
        <%= f.radio_button :select_address, 1 %>
        <%= f.label "登録済みの住所から選択" %> <br>
        <div class="ml-4">
          <%= f.select :shipping_address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :full_address), class: "form-select" %>
        </div>
      </div>

      <div class="col mt-3">
        <%= f.radio_button :select_address, 2 %>
        <%= f.label :select_address, "新しいお届け先" %>
        <div class="container ml-5">
            <div class="form-row">
              <div class="col-md-2"><%= f.label :zip_code, "郵便番号" %></div>
              <div class="col-md-5"><%= f.text_field :zip_code, class: "form-control", placeholder: "ハイフンなし" %></div>
            </div>
            <div class="form-row mt-1">
              <div class="col-md-2"><%= f.label "住所" %></div>
              <div class="col-md-7"><%= f.text_area :shipping_address, class: "form-control",placeholder: "東京都渋谷区代々木神園町0-0", rows: "5" %></div>
            </div>
            <div class="form-row mt-3">
              <div class="col-md-2"><%= f.label "宛名" %></div>
              <div class="col-md-5"><%= f.text_field :shipping_name, class: "form-control", placeholder: "令和道子" %></div>
            </div>
        </div>
      </div>
    </div>
    <div class="col mt-5 mb-5 text-center">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary w-50" %>
    </div>
  <% end %>
</div>