<div class="row offset-3">
  <h3>注文情報入力</h3>
</div>

<%= form_with model: @order, url: confirm_path, method: :post, local:true do |f| %>
  <div class="row">
    <h5>支払い方法</h5>
    <div class="ml-5">
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
      <%= f.radio_button :payment_method, Order.payment_mehtods.key(1) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
    </div>
  </div>

  <div class="row">
    <h5>お届け先</h5>
    <div class="col">
      <%= f.radio_button :select_address, "0" %>
      <%= f.label :select_address, "ご自身の住所" %>
      <div class="col"><%= @order.customer.full_address %></div>
    </div>

    <div class="col">
      <%= f.radio_button :select_address, "1" %>
      <%= f.label :select_address, "登録済みの住所から選択" %>
      <%= f.select :address_id, options_from_collection_for_select(ShippingAddresses.all, :id, :full_address) %>
    </div>

    <div class="col">
      <%= f.radio_button :select_address, "2" %>
      <%= f.label :select_address, "新しいお届け先" %>
      <div class="row">
        <div class="row form-group">
          <div class="col-md-4"><%= f.label :zip_code, "郵便番号(ハイフンなし)" %></div>
          <div class="col-md-7"><%= f.text_field :zip_code, autofocus: true %></div>
        </div>
      </div>

      <div class="row">
        <div class="row form-group">
          <div class="col-md-4"><%= f.label "住所" %></div>
          <div class="col-md-7"><%= f.text_field :shipping_address, autofocus: true %></div>
        </div>
      </div>

      <div class="row">
        <div class="row form-group">
          <div class="col-md-4"><%= f.label "宛名" %></div>
          <div class="col-md-7"><%= f.text_field :shipping_name, autofocus: true %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="orderlog_link">
    <%= f.submit "確認画面へ進む", class: "btn btn-primary btn-md" %>
  </div>
<% end %>