<h2>ログイン</h2>

<h5 class="pt-5">会員の方はこちらからログイン</h5>

<%= form_with model: @customer, url: customer_session_path, local:true do |f| %>
  <div class="container">
    <div class="form-group grid g-3 pt-3">
      <div class="col-6"><%= f.label :email, "メールアドレス" %></div>
      <div class="col-6"><%= f.email_field :email, prompt: "sample@icloud.com", autofocus: true, class: "" %></div>
    </div>

    <div class="form-group grid g-3">
      <div class="col-6"><%= f.label :password, "パスワード" %></div>
      <div class="col-6"><%= f.password_field :password, autofocus: true %></div>
    </div>

    <div class="form-group grid g-3 pt-2">
      <div class="col-6">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="pt-5">
      <h6>会員登録がお済みでない方は</h6>
      <p><%= link_to "こちら", new_customer_registration_path %> から新規登録を行なってください。</p>
    </div>
    <div class="pt-3">
      <h6>管理者の方は</h6>
      <p><%= link_to "こちら", new_admin_session_path %> からログインしてください。</p>
    </div>
  </div>
<% end %>