<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <%# TODO(logo画像を挿入) %>
          <div><%= link_to "ロゴ画像を挿入", admin_items_path %></div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse bavbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <li><%= link_to "マイページ", customers_path, class: "fas fa-user nav-link text-light" %></li>
              <li><%= link_to "商品一覧", items_path, class: "fas fa-list nav-link text-light" %></li>
              <li><%= link_to "カート", cart_items_path, class: "fas fa-cart-plus nav-link text-light" %></li>
              <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link text-light" %></li>
            <% else %>
              <li><%= link_to "About", about_path, class: "fas fa-birthday-cake nav-link text-light" %></li>
              <li><%= link_to "商品一覧", items_path, class: "fas fa-list nav-link text-light" %></li>
              <li><%= link_to "新規登録", new_customer_registration_path, class: "fas fa-user-plus nav-link text-light" %></li>
              <li><%= link_to "ログイン", new_customer_session_path, class: "fas fa-sign-in-alt nav-link text-light" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="container p-3">
        <p class="text-success"><%= notice %></p>
        <p class="text-danger"><%= alert %></p>
        <%= yield %>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="footer_copyright">
          Copyright &copy; 1992 - 2022 NaganoCake Co. All Rights Reserved.
        </div>
      </div>
    </footer>
  </body>
</html>
