<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <% if admin_signed_in? %>
      <header>
        <div class="header-content">
          <%= link_to "NaganoCake", admin_top_path, class: "logo" %>
          <ul class="flex">
            <li><%= link_to "商品一覧", admin_items_path %></li>
            <li><%= link_to "会員一覧", admin_cuntomers_path %></li>
            <li><%= link_to "注文履歴一覧", admin_orders_path %></li>
            <li><%= link_to "ジャンル管理", admin_genres_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          </ul>
        </div>
      </header>
    <% elsif customer_signed_in? %>
      <header>
        <div class="header-content">
          <%= link_to "NaganoCake", root_path, class: "logo" %>
          <ul class="flex">
            <li><%= link_to "商品一覧", items_path %></li>
            <li><%= link_to "カート", cart_items_path %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
          </ul>
        </div>
      </header>
    <% else %>
      <header>
        <div class="header-content">
          <%= link_to "NaganoCake", root_path %>
          <ul>
            <li><%= link_to "商品一覧", items_path %></li>
            <li><%= link_to "新規登録", new_customer_registration_path %></li>
            <li><%= link_to "ログイン", new_customer_session_path %></li>
          </ul>
        </div>
      </header>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>

  <footer>Copyright &copy; Infratop Inc. All Rights Reserved.</footer>
</html>
